[submodule "ale"]
	path = .vim/bundle/ale
	url = git@github.com:w0rp/ale.git

[submodule "dockerfile.vim"]
	path = .vim/bundle/dockerfile.vim
	url = https://github.com/ekalinin/dockerfile.vim

[submodule "lightline-bufferline"]
	path = .vim/bundle/lightline-bufferline
	url = https://github.com/mgee/lightline-bufferline

[submodule "lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim

[submodule "nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter

[submodule "nginx.vim"]
	path = .vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim

[submodule "plantuml-syntax"]
	path = .vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax

[submodule "scss-syntax.vim"]
	path = .vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim

[submodule "ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/sirver/ultisnips

[submodule "vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive

[submodule "vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter

[submodule "vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = https://github.com/terryma/vim-instant-markdown

[submodule "vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript

[submodule "vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx

[submodule "vim-react-snippets"]
	path = .vim/bundle/vim-react-snippets
	url = https://github.com/justinj/vim-react-snippets

[submodule "vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets

[submodule "vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator

[submodule "webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim

[submodule "vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git

[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git

[submodule "lightline-ale"]
	path = .vim/bundle/lightline-ale
	url = git@github.com:maximbaz/lightline-ale.git

[submodule "obsession.vim"]
	path = .vim/bundle/obsession.vim
	url = https://github.com/tpope/vim-obsession

[submodule "ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "jenkinsfile-vim-syntax"]
	path = .vim/bundle/jenkinsfile-vim-syntax
	url = https://github.com/martinda/jenkinsfile-vim-syntax
[submodule "nord-vim"]
	path = .vim/bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "todo.txt-vim"]
	path = .vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
