priority -40

snippet ld "logger.debug"
logger.debug($1);
endsnippet

snippet le "logger.error" b
logger.error($1);
endsnippet

snippet li "logger.info"
logger.info($1);
endsnippet

snippet lw "logger.warn"
logger.warn($1);
endsnippet
